fastapi
uvicorn
python-dotenv
torch==2.2.0
torchaudio==2.2.0
librosa
numpy<2.0.0
python-multipart
python-jose[cryptography]
passlib[bcrypt]
transformers
safetensors>=0.4.0
accelerate
pydub
scipy
speechbrain
huggingface_hub
soundfile
pyyaml
joblib
scikit-learn
